:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --main-color: #5EB319;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  z-index: 1;
  padding-top: 1em;
}
header img {
  padding-left: 2em;
}

main {
  margin-top: 11em;
}

a {
  text-decoration: none;
}

body {
  background-color: #FFFFFF;
  font-size: 1rem;
  font-family: Arial;
  padding: 0em 2em 2em 2em;
}

.sub-nav {
  display: none;
}

nav ul {
  list-style: none;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.15s ease;
  padding: 0 2em;
}
nav ul li {
  padding: 1em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav ul li:hover {
  background-color: #469C00;
}
nav ul li a {
  color: #FFFFFF;
}

.greeting {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.greeting__left {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 0;
}
.greeting__left h1 {
  color: #707070;
  font-size: 1rem;
}
.greeting__left p {
  color: #008293;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  width: 12em;
}

.greeting__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shedule {
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.1em solid rgba(0, 0, 0, 0.2);
}

.shedule__left {
  background-color: var(--main-color);
  display: flex;
  text-align: center;
  padding: 0.5em;
  width: 7em;
  font-size: 0.9rem;
  transition: all 0.15s ease;
  border-radius: 0.5em 0em 0em 0.5em;
}
.shedule__left a {
  color: #FFFFFF;
}
.shedule__left:hover {
  background-color: #469C00;
}

.shedule__right {
  background-color: #F5F5F5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  font-size: 0.9rem;
  padding: 0em 2em;
  margin-left: 0.5em;
}
.shedule__right a {
  color: #336699;
  transition: all 0.15s ease;
}
.shedule__right a:hover {
  color: #469C00;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal img {
  width: 100%;
  height: auto;
  margin: auto;
}
.modal button {
  position: fixed;
  right: 2em;
  top: 6em;
  width: 2em;
  height: 2em;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}
.modal button:hover {
  opacity: 0.9;
}

.accessibility-bar {
  background-color: grey;
  position: fixed;
  right: 1em;
  top: 2em;
  z-index: 2;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.accessibility-bar img {
  width: 1.5em;
  height: 1.5em;
  transition: all 0.15s ease;
}
.accessibility-bar img:hover {
  opacity: 0.5;
}

.icons-container {
  display: flex;
  margin: 3em 0em;
  justify-content: space-between;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.2);
  padding-bottom: 3em;
}
.icons-container .circle {
  width: 3.5em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em;
}
.icons-container .circle img {
  object-fit: cover;
}
.icons-container .label a {
  color: #008293;
}

.icons-container .circle-label {
  display: flex;
  gap: 0.75em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s ease;
}
.icons-container .circle-label:hover {
  animation: circlehover 2s;
}

.forms-container {
  display: flex;
  gap: 2em;
}

.search-container {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #707070;
  border-radius: 0.5em;
  padding: 2em 2em 0em 2em;
}
.search-container label {
  font-size: 0.9rem;
  color: #FFF;
}
.search-container input {
  padding: 0.75em;
  font-style: italic;
  border: none;
  border-radius: 0.5em;
}
.search-container input[type=radio] {
  cursor: pointer;
}
.search-container button {
  background-color: var(--main-color);
  margin: 1.5em 0em 0em 0em;
  padding: 0.75em 4em;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.15s ease;
}
.search-container button:hover {
  background-color: #469C00;
}

.radio-container {
  margin-bottom: 1em;
}

.access-container {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.box {
  display: flex;
  flex-direction: column;
}
.box__header {
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
  overflow: hidden;
}
.box button {
  background-color: var(--main-color);
  width: 100%;
  border: none;
  color: #fff;
  padding: 0.5em;
  font-size: 1.05rem;
  cursor: pointer;
  transition: all 0.15s ease;
}
.box button:hover {
  background-color: #469C00;
}

.icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  gap: 1.5em;
  background-color: #F5F5F5;
}
.icon-text span {
  font-weight: bold;
}

.box--icon {
  width: 1em;
  heigth: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box--icon img {
  object-fit: fill;
  width: 2em;
  heigth: 2em;
}

.key-icon {
  transform: scale(2);
}

.utility {
  display: flex;
  margin: 2em 0em;
  gap: 2em;
  justify-content: space-between;
}
.utility__col1 {
  flex: 2;
}
.utility__col2 {
  flex: 1;
}
.utility button {
  background-color: var(--main-color);
  width: 100%;
  border: none;
  color: #fff;
  padding: 0.5em;
  font-size: 1.05rem;
  cursor: pointer;
  transition: all 0.15s ease;
  background-color: #008293;
}
.utility button:hover {
  background-color: #469C00;
}
.utility button:hover {
  background-color: #0090A5;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.info__col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  background-color: #F5F5F5;
  flex: 1;
  padding: 1em;
  gap: 1em;
  border-radius: 0.5em;
}
.info__col1--title {
  font-weight: bold;
  text-align: center;
  line-height: 1.5em;
}
.info__col1--text {
  line-height: 1.5em;
  text-align: center;
}
.info__col1 button {
  background-color: var(--main-color);
  width: 100%;
  border: none;
  color: #fff;
  padding: 0.5em;
  font-size: 1.05rem;
  cursor: pointer;
  transition: all 0.15s ease;
  width: 100%;
  background-color: #FFC200;
  color: #393838;
}
.info__col1 button:hover {
  background-color: #469C00;
}
.info__col1 button:hover {
  background-color: #FFB800;
}
.info__col2 {
  flex: 1;
}
.info__col2 img {
  width: 100%;
}
.info__col3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.col3__card {
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  padding: 1em;
  display: flex;
  color: #0090A5;
  background-color: #F5F5F5;
  cursor: pointer;
}
.col3__card:hover {
  animation: circlehover 2s;
}
.col3__card--text:hover {
  color: #008293;
}

.faq {
  background-color: #707070;
  padding: 1em;
  display: flex;
  margin: 2em 0;
  justify-content: space-between;
  align-items: center;
}
.faq__text {
  color: #FFFFFF;
  text-align: center;
  flex: 2;
}
.faq button {
  flex: 1;
  width: 100%;
  background-color: var(--main-color);
  width: 100%;
  border: none;
  color: #fff;
  padding: 0.5em;
  font-size: 1.05rem;
  cursor: pointer;
  transition: all 0.15s ease;
  border-radius: 0.5em;
}
.faq button:hover {
  background-color: #469C00;
}

.footer {
  background-color: #F5F5F5;
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.footer__left--title {
  font-weight: bold;
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  gap: 0.5em;
  line-height: 1.1rem;
}
.footer__right span {
  font-weight: bold;
}

@media screen and (max-width: 820px) {
  .greeting {
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
  }

  main {
    margin-top: 12em;
  }

  .icons-container .circle-label {
    flex-direction: column;
  }
  .icons-container .circle-label .label {
    text-align: center;
  }

  #logomintrabajo {
    display: none;
  }

  .faq {
    flex-direction: column;
    gap: 1em;
  }

  .utility {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  nav ul {
    flex-direction: column;
  }

  main {
    margin-top: 12em;
  }

  .forms-container {
    flex-direction: column;
  }

  .main-nav {
    display: none;
  }

  .sub-nav {
    display: block;
  }

  .utility {
    flex-direction: column;
  }

  .info {
    flex-direction: column;
  }

  .icons-container {
    flex-direction: column;
    gap: 1em;
  }

  .circle-label {
    border: 0.1em solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.4);
    border-radius: 0.5em;
  }

  .circle-label .circle {
    display: none;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 1em;
  }
  .footer__left {
    text-align: center;
  }
  .footer__right {
    text-align: center;
    line-height: 1.1rem;
  }
}
@keyframes circlehover {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5em);
  }
}